# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - JavaScript node dependencies
node_modules

# Yarn log
yarn-error.log

# enivronment variables
.env

#vscode files
.vscode

#js build
build
